<a href="https://colab.research.google.com/github/Muhammadowais511/Lacture-7-_-Loops-and-Functions-in-Python/blob/main/Loops_%26_Creating_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
For Loop

In [ ]:
A = "Good"
for B in range(12):
   print (A)

Good
Good
Good
Good
Good
Good
Good
Good
Good
Good
Good
Good

In [ ]:
for C in range(5):
   print("Excellent")
   print("Brilliant")

Excellent
Brilliant
Excellent
Brilliant
Excellent
Brilliant
Excellent
Brilliant
Excellent
Brilliant

In [ ]:
Stationary = ["Sharpener", "Pancil" , "Scale"]
for thing in Stationary:
   print (thing)

Sharpener
Pancil
Scale

In [ ]:
mobile = [3 ,1 ,2 ,2 ,3 ,6 ,0 ,9 ,7 ,7]
for number in mobile:
   print (number)

3
1
2
2
3
6
0
9
7
7

In [ ]:
Looping Through a String

In [ ]:
for D in "Apple":
   print (D)

A
p
p
l
e

In [ ]:
for E in "Apple" , "Banana":
   print (E)
for F in "Apple banana":
   print (F)

Apple
Banana
A
p
p
l
e

b
a
n
a
n
a

In [ ]:
The Range Function

In [ ]:
for number in range(5 , 8):
   print (number)

5
6
7

In [ ]:
Looping Through a Dictionary

In [ ]:
Job = { "work": "Teaching" , "Subject": "Islamics" }
for item in Job:
   print (item)
   print (Job.values())

work
dict_values(['Teaching', 'Islamics'])
Subject
dict_values(['Teaching', 'Islamics'])

In [ ]:
Finding Even Numbers

In [ ]:
numbers = [1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9]
for num in numbers:
   if num % 2 == 0:
      print (num , "Even" )
   if num % 2 == 1:
      print ("Odd" , num )

Odd 1
2 Even
Odd 3
4 Even
Odd 5
6 Even
Odd 7
8 Even
Odd 9

In [ ]:
While Loop

In [ ]:
G = 2
while G <(60):
   print (G)
   G = G * 2

2
4
8
16
32

In [ ]:
H = 0
while H <=(10):
   print ("@" , H , "@")
   H = H + 1

@ 0 @
@ 1 @
@ 2 @
@ 3 @
@ 4 @
@ 5 @
@ 6 @
@ 7 @
@ 8 @
@ 9 @
@ 10 @

In [ ]:
User Input Validation

In [ ]:

Password = ""
while Password !=("Gajar"):
   Password = input("")
   if Password == "Owais":
      print (True)
   else:
      print (False)

Owais
True
Owais
True
Owais
True
Gajar
False

In [ ]:
Summimg Numbers

In [ ]:
total = 0
num = 1
while num <=10:
    total = total + num
    num = num + 1
    print ( "the sum is:" , total)

the sum is: 1
the sum is: 3
the sum is: 6
the sum is: 10
the sum is: 15
the sum is: 21
the sum is: 28
the sum is: 36
the sum is: 45
the sum is: 55

In [ ]:
Creating and Calling Functions

In [ ]:
def OwaisFunc():
   print (123456789)

OwaisFunc()

123456789

In [ ]:
OwaisFunc()

123456789

In [ ]:
Arguments

In [ ]:
def Argument1 (a , b):
    sum = a + b
    return sum


result = Argument1 (2 , 5)
print ("the sum is:" , result)

the sum is: 7

In [ ]:
result = Argument1 (8 , 3)
print (result)

11

In [ ]:
def LMS (l , m):
    sum = l * m + 20 * 10
    return sum


result = LMS (2 , 5)
print (result)

210

In [ ]:
def Function (Anything):
    for L in Anything:
      print (L)

Animals = ("zebra" , "hourse" , "donkey" , "mule")
Function (Animals)

NameError: name 'L' is not defined

In [ ]:
def MyComp (AnyItem):
    for M in AnyItem:
      print (M)

In [ ]:
Decimals = (1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 1 , 0)
MyComp (Decimals)

1
2
3
4
5
6
7
8
9
1
0

In [ ]:
Return Values

In [ ]:
def R_Val (N):
    return 254 * N


print (R_Val (21))
print (R_Val (34))
print (R_Val (56))

5334
8636
14224

In [ ]:
def O (P = "Q"):
    print ("HI" , P)

O ()
O ("R")

HI Q
HI R

In [ ]:
def even_odd (num):
    if num % 2 == 0:
       print (num , 'is even')
    else:
       print (num , ' is odd')

even_odd (5)
even_odd (3)

5  is odd
3  is odd

In [ ]:
def words_number (owais):
    words = owais.split()
    return len(words)

In [ ]:

Discussion = "I Have Completed this Excercise"
Why = words_number (Discussion)
print ("number of its words are" , Why)

number of its words are 5

In [ ]:
The End.